---
import PageLayout from '@/layouts/CommonPage.astro'
import ToolSection from '@/components/collections/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'now', text: 'Now' },
  { depth: 2, slug: 'tech', text: 'Tech toolkit' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Humanitarian. Life-long learner. DEIA advocate.</p>
  <p>
    I was taught to respect and explore diverse ways of knowing and producing knowledge, from
    reading, scientific research, to social learning across languages, cultures and species (humans
    & more-than-human agents), to non-science (e.g., philosophy and astrology). I aim for high
    alignment between my beliefs and my work, but I'm open to be convinced otherwise.
  </p>
  <p>
    A few other labels I reasonate with: Minimalist, Quantified Self, INFJ, Flexitarian (vegetarian
    who occasionally eats meat), Asexual spectrum.
  </p>

  <h2 id='now'>Now</h2>
  <p>
    As of Jun 2025, I'm applying for research labs working on AI for knowledge or reasoning, and
    AI-human alignment. I'm also looking for a full-time job in data science or teaching to activate
    my OPT.
  </p>
  <p>
    I'm actively contributing to SEACrowd as a data annotator to advance AI visual reasoning for
    Southeast Asian languages and cultures.
  </p>

  {/* tools */}
  <h2 id='tech'>Tech</h2>
  <ToolSection
    class='mb-5'
    title='Hardware (Operating System)'
    tools={[
      {
        name: 'MacBook M1 Pro 14',
        description: 'MacOS Sequoia 15',
        href: 'https://www.apple.com/mac/',
        icon: import('@/assets/icons/apple.html?raw')
      },
      {
        name: 'iPhone 11',
        description: 'iOS 18',
        href: 'https://www.apple.com/iphone/',
        icon: import('@/assets/icons/apple.html?raw')
      },
      {
        name: 'Kobo Clara BW',
        description: 'eBook Reader',
        href: 'https://www.kobo.com/',
        icon: import('@/assets/icons/kobo.svg?raw')
      },
      {
        name: 'Linux (Virtual Machine)',
        description: 'Ubuntu 24.04 LTS',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/icons/ubuntu.html?raw')
      },
      {
        name: 'Logitech Lift for Mac',
        description: 'Vertical Ergonomic Mouse',
        href: 'https://www.logitech.com/en-us/shop/p/lift-vertical-ergonomic-mouse-mac.910-006471',
        icon: import('@/assets/icons/logitech.svg?raw')
      },
      {
        name: 'Logitech Wave Keys for Mac',
        description: 'Wireless Ergonomic Keyboard',
        href: 'https://www.logitech.com/en-us/shop/p/wave-keys-mac.920-012402',
        icon: import('@/assets/icons/logitech.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Zen Browser',
        description: 'Browser (Firefox-based)',
        href: 'https://zen-browser.app/',
        icon: import('@/assets/icons/zen.html?raw')
      },
      {
        name: 'Arc Browser',
        description: 'Browser (Chrominium-based)',
        href: 'https://arc.net/',
        icon: import('@/assets/icons/arc.html?raw')
      },
      {
        name: 'Raycast',
        description: 'Launcher / Spotlight alternative',
        href: 'https://www.raycast.com/',
        icon: import('@/assets/icons/raycast.html?raw')
      },
      {
        name: 'Obsidian',
        description: 'Knowledge Management',
        href: 'https://obsidian.md/',
        icon: import('@/assets/icons/obsidian.html?raw')
      },
      {
        name: 'Notion',
        description: 'Project Management, Calendar & Email',
        href: 'https://www.notion.so/',
        icon: import('@/assets/icons/notion.html?raw'),
        darkIcon: import('@/assets/icons/notion-dark.html?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Cursor',
        description: 'IDE (Vim mode)',
        href: 'https://www.cursor.com/',
        icon: import('@/assets/icons/cursor.html?raw'),
        darkIcon: import('@/assets/icons/cursor-dark.html?raw')
      },
      {
        name: 'iTerm2',
        description: 'Terminal',
        href: 'https://iterm2.com/',
        icon: import('@/assets/icons/iterm2.svg?raw')
      },
      {
        name: 'Claude Sonnet 4.0',
        description: 'AI-powered Code Assistant',
        href: 'https://www.anthropic.com/claude',
        icon: import('@/assets/icons/claude.html?raw')
      },
      {
        name: 'Linear',
        description: 'Software Development Tracking',
        href: 'https://linear.app/',
        icon: import('@/assets/icons/linear.html?raw')
      }
    ]}
  />
</PageLayout>
