---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'now', text: 'Now' },
  { depth: 2, slug: 'tech', text: 'Tech toolkit' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Humanitarian. Life-long learner. DEIA advocate.</p>
  <p>
    I was taught to respect and explore diverse ways of knowing and producing knowledge, from
    reading, scientific research, to social learning across languages, cultures and species (humans
    & more-than-human agents), to non-science (e.g., philosophy and astrology). I aim for high
    alignment between my beliefs and my work, but I'm open to be convinced otherwise.
  </p>
</PageLayout>
