---
import { ToolSection, ToolTag } from '@/components'

import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='Tools' info='/tools'>
  <p>
    A collection of tools that I use on a daily basis. It is a work in progress and will be updated
    as I update my setup. Except for the hardware, I use free versions of most tools.
  </p>
  <ToolSection
    class='mb-5'
    title='Workstation (+Operating System)'
    tools={[
      {
        name: 'MacBook M1 Pro 14',
        description: 'MacOS Sequoia 15',
        href: 'https://www.apple.com/mac/',
        icon: import('@/assets/icons/apple.html?raw')
      },
      {
        name: 'iPhone 11',
        description: 'iOS 18',
        href: 'https://www.apple.com/iphone/',
        icon: import('@/assets/icons/apple.html?raw')
      },
      {
        name: 'Logitech Lift for Mac',
        description: 'Vertical Ergonomic Mouse',
        href: 'https://www.logitech.com/en-us/shop/p/lift-vertical-ergonomic-mouse-mac.910-006471',
        icon: import('@/assets/icons/logitech.svg?raw')
      },
      {
        name: 'Logitech Wave Keys for Mac',
        description: 'Wireless Ergonomic Keyboard',
        href: 'https://www.logitech.com/en-us/shop/p/wave-keys-mac.920-012402',
        icon: import('@/assets/icons/logitech.svg?raw')
      },
      {
        name: 'Linux (Virtual Machine)',
        description: 'Ubuntu 24.04 LTS',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/icons/ubuntu.html?raw'),
        tags: [ToolTag.OpenSource]
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'Cursor',
        description: 'AI IDE (Vim mode)',
        href: 'https://www.cursor.com/',
        icon: import('@/assets/icons/cursor.html?raw'),
        darkIcon: import('@/assets/icons/cursor-dark.html?raw'),
        tags: [ToolTag.Gifted]
      },
      {
        name: 'iTerm2',
        description: 'Terminal',
        href: 'https://iterm2.com/',
        icon: import('@/assets/icons/iterm2.svg?raw'),
        tags: [ToolTag.OpenSource]
      },
      {
        name: 'Claude Sonnet 4.0',
        description: 'AI-powered Code Assistant',
        href: 'https://www.anthropic.com/claude',
        icon: import('@/assets/icons/claude.html?raw'),
        tags: [ToolTag.Subscription]
      },
      {
        name: 'Linear',
        description: 'Software Development Tracking',
        href: 'https://linear.app/',
        icon: import('@/assets/icons/linear.html?raw'),
        tags: [ToolTag.Free]
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Research & Knowledge Management'
    tools={[
      {
        name: 'Zotero',
        description: 'Citation Management',
        href: 'https://www.zotero.org/',
        icon: import('@/assets/icons/zotero.svg?raw'),
        tags: [ToolTag.Free]
      },
      {
        name: 'Obsidian',
        description: 'Knowledge Management',
        href: 'https://obsidian.md/',
        icon: import('@/assets/icons/obsidian.html?raw'),
        tags: [ToolTag.Free]
      },
      {
        name: 'LaTeX Workshop',
        description: 'VSCode Extension for LaTex Typesetting',
        href: 'https://github.com/James-Yu/LaTeX-Workshop',
        icon: import('@/assets/icons/latex.svg?raw'),
        tags: [ToolTag.OpenSource, ToolTag.Free]
      },
      {
        name: 'Overleaf',
        description: 'Online LaTeX Editor',
        href: 'https://www.overleaf.com/',
        icon: import('@/assets/icons/overleaf.svg?raw'),
        tags: [ToolTag.Free]
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Zen Browser',
        description: 'Browser (Firefox-based)',
        href: 'https://zen-browser.app/',
        icon: import('@/assets/icons/zen.html?raw'),
        tags: [ToolTag.OpenSource, ToolTag.Free]
      },
      {
        name: 'Arc Browser',
        description: 'Browser (Chrominium-based)',
        href: 'https://arc.net/',
        icon: import('@/assets/icons/arc.html?raw')
      },
      {
        name: 'Raycast',
        description: 'Launcher / Spotlight alternative',
        href: 'https://www.raycast.com/',
        icon: import('@/assets/icons/raycast.html?raw'),
        tags: [ToolTag.Free]
      },

      {
        name: 'Notion',
        description: 'Project Management & Calendar',
        href: 'https://www.notion.so/',
        icon: import('@/assets/icons/notion.html?raw'),
        darkIcon: import('@/assets/icons/notion-dark.html?raw'),
        tags: [ToolTag.Free]
      },
      {
        name: 'Reclaim.ai',
        description: 'AI Calendar',
        href: 'https://reclaim.ai/',
        icon: import('@/assets/icons/reclaimai.svg?raw'),
        tags: [ToolTag.Subscription]
      },
      {
        name: 'Spark Mail',
        description: 'Email',
        href: 'https://sparkmailapp.com/',
        icon: import('@/assets/icons/sparkmail.svg?raw'),
        tags: [ToolTag.Subscription]
      }
    ]}
  />

  <ToolSection
    class='mb-5'
    title='Language Learning'
    tools={[
      {
        name: 'Learning Using Texts (LUTE)',
        description: 'Immersive Reading',
        href: 'https://github.com/LuteOrg/lute-v3',
        icon: import('@/assets/icons/read.svg?raw'),
        tags: [ToolTag.SelfHosted]
      },
      {
        name: 'SuperChinese',
        description: 'Chinese Learning',
        href: 'https://superchinese.com/',
        icon: import('@/assets/icons/superchinese.svg?raw'),
        tags: [ToolTag.Subscription]
      }
    ]}
  />
</PageLayout>
