# Merge strategies
content/** merge=ours
packages.json merge=ours
packages/pure/** merge=ours
src/assets/** merge=ours
src/content/docs/** merge=ours
src/pages/projects/** merge=ours
src/pages/index.astro merge=ours
# Ignore files in linguist
public/scripts/** -linguist-detectable