---
import config from '@/site.config'

const { class: className, ...props } = Astro.props
const path = Astro.url.pathname
---

<div class:list={['text-base text-sm text-muted-foreground', className]} {...props}>
  {

    )
  }
</div>
