---
const { class: className, title } = Astro.props
---

<section class:list={['flex flex-col gap-y-2', className]}>
  <h2 id={title.toLowerCase()} class='text-xl font-semibold'>{title}</h2>
  <slot />
</section>
