---
import { getBlogCollection, getUniqueTagsWithCount } from '@/server/collection'
import PageLayout from '@/layouts/BaseLayout.astro'
import { Link } from '@/components'

const allPosts = await getBlogCollection()
const allTags = getUniqueTagsWithCount(allPosts)

const meta = {
  description: "A list of all the topics I've written about in my posts",
  title: 'All Tags'
}
---

<PageLayout {meta}>
  <Link title='Back' href='/blog' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Tags</h1>
    </div>

    <div id='content' class='animate'>
      {
        allTags.length > 0 ? (
          <ul class='flex flex-wrap gap-4'>
            {allTags.map(([tag, val]) => (
              <li>
                <Link
                  href={`/tags/${tag}`}
                  style='pill'
                  class='items-start gap-x-1 rounded-xl px-3 py-1 text-lg'
                >
                  {tag}
                  <span class='text-base'> - {val}</span>
                </Link>
              </li>
            ))}
          </ul>
        ) : (
          <p>No tags yet.</p>
        )
      }
    </div>
  </main>
</PageLayout>
