---
import { getFormattedDate } from '@/lib'
import type { FormattedDateProps } from '@/components/types'

type Props = FormattedDateProps

const { date, dateTimeOptions, class: className, ...attrs } = Astro.props

const postDate = getFormattedDate(date, dateTimeOptions)
---

<span class:list={['text-muted-foreground', className]} {...attrs}>
  <time datetime={date.toISOString()}>
    {postDate}
  </time>
</span>
