---
import type { FormattedDateProps as Props } from '@/components/types'
import { getFormattedDate } from '@/lib/format-date'

const { date, dateTimeOptions, class: className, ...attrs } = Astro.props

const postDate = getFormattedDate(date, dateTimeOptions)
---

<span class:list={['text-muted-foreground', className]} {...attrs}>
  <time datetime={date.toISOString()}>
    {postDate}
  </time>
</span>
