---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: '🤖 Arknights Telegram Bot',
        description: 'Telegram Bot for Arknights',
        links: [
          { type: 'github', href: 'https://github.com/IJNKAWAKAZE/arknights_bot' },
          { type: 'site', href: 'https://t.me/PtiIopsis_bot' },
          {
            type: 'doc',
            href: 'https://github.com/IJNKAWAKAZE/arknights_bot/blob/main/docs/Development.md'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'github', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'site', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <h2 id='github-activities'>Github Activities</h2>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can contact me
    to discuss a project.
  </p>
</PageLayout>
