---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
---

<PageLayout title='Projects'>
  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: '📒 Notie',
        description:
          'Android note App complies with Material You specifications, developed using Java',
        links: [
          { type: 'repo', href: 'https://github.com/cworld1/notie' },
          {
            type: 'release',
            href: 'https://github.com/cworld1/notie/releases'
          }
        ]
      },
      {
        name: '💄 PKU Art',
        description: 'A script to beautify pku course website',
        links: [
          { type: 'repo', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'url', href: 'https://github.com/zhuozhiyongde/pku-art' },
          { type: 'doc', href: 'https://docs.arthals.ink/docs/pku-art' }
        ]
      }
    ]}
  />
  <h2 id='github-activities'>Github Activities</h2>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can contact me
    to discuss a project.
  </p>
</PageLayout>
