---
import { getProjectsCollection, sortProjectsByDate } from '@/server/collection'
import PageLayout from '@/layouts/CommonLayout.astro'
import { GithubActivity, ProjectCard, Section } from '@/components'

const allProjects = sortProjectsByDate(await getProjectsCollection())
const featuredProjects = allProjects.filter((project) => project.data.isHighlighted)
const otherProjects = allProjects.filter((project) => !project.data.isHighlighted)
---

<PageLayout title='Projects'>
  <div class='flex flex-col gap-6'>
    {/* Featured Projects */}
    {
      featuredProjects.length > 0 && (
        <Section title='Featured Projects'>
          <div class='grid gap-4 md:grid-cols-1 lg:grid-cols-2'>
            {featuredProjects.map((project) => (
              <ProjectCard {project} />
            ))}
          </div>
        </Section>
      )
    }

    {/* Other Projects */}
    {
      otherProjects.length > 0 && (
        <Section title='Other Projects'>
          <div class='grid gap-4 md:grid-cols-1 lg:grid-cols-2'>
            {otherProjects.map((project) => (
              <ProjectCard {project} />
            ))}
          </div>
        </Section>
      )
    }

    {/* Github Activity */}
    <GithubActivity />

    {/* Collaboration */}
    <Section title='Collaboration'>
      <p class='text-muted-foreground leading-relaxed'>
        If you think it would be useful or interesting to collaborate on a project, you can contact
        me to discuss a project.
      </p>
    </Section>
  </div>
</PageLayout>
